In [102]:
import numpy as np
import pandas as pd

In [101]:
# Function to remove goat door in second selection, 
# select final door and 
# give win and change selection
def remove_goat_choose(x, door1):
    if door1 == 1:
        x.remove(rnd_goat_door())
    else:
        x.remove(abs(door1 - 2))
    door2 = np.random.choice(x, size=1).item()
    # door2, win/loss, changed
    #return door2, door % 2, door1 != door2
    return bool(door2 % 2), door1 != door2

# Test function
x = [0,1,2]
[remove_choose([0,1,2], 1) for y in range(10)]

[(False, True),
 (True, False),
 (True, False),
 (False, True),
 (True, False),
 (False, True),
 (False, True),
 (False, True),
 (True, False),
 (True, False)]

1 is win door. 0 and 2 are goat doors

In [110]:
n_repeats = 10_000
rnd_goat_door = lambda : np.random.choice([0, 2], size=1).item()
multi_doors = [[0,1,2] for x in range(n_repeats)]
[np.random.shuffle(x) for x in multi_doors]

doors_to_open_1 = [np.random.choice([0, 1, 2], 1).item() for x in range(n_repeats)]
doors_to_open_2 = [remove_goat_choose(scenary, door) for scenary, door in zip(multi_doors, doors_to_open_1)]
doors_to_open_2[:10]

[(False, True),
 (False, False),
 (True, True),
 (True, False),
 (False, False),
 (False, False),
 (False, False),
 (False, False),
 (True, False),
 (True, False)]

Read results into a data frame

In [111]:
results = pd.DataFrame(doors_to_open_2, 
                       columns=["win", "changed"])
results.head()

     win  changed
0  False     True
1  False    False
2   True     True
3   True    False
4  False    False

Group by *changed* and compute mean of *win* (of 1's, ie relative frequency of Trues/wins)

In [112]:
results.groupby("changed").mean()

              win
changed
False    0.327451
True     0.666467